apiVersion: apps/v1
kind: Deployment
metadata:
  name: greeter-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: greeter
  template:
    metadata:
      labels:
        app: greeter
    spec:
      containers:
      - name: gateway
        image: localhost/bazel/services/gateway:tarball
        imagePullPolicy: Never
        ports:
        - containerPort: 8000
        - containerPort: 9000
      - name: backend
        image: localhost/greeter-server:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 9090
      - name: envoy
        image: localhost/envoy:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
      - name: calculator
        image: localhost/calculator-server:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 9091
---
apiVersion: v1
kind: Service
metadata:
  name: gateway-service
spec:
  selector:
    app: greeter
  ports:
  - name: http
    protocol: TCP
    port: 8000
    targetPort: 8000
  - name: grpc
    protocol: TCP
    port: 9000
    targetPort: 9000
---
apiVersion: v1
kind: Service
metadata:
  name: greeter-service
spec:
  selector:
    app: greeter
  ports:
  - protocol: TCP
    port: 9090
    targetPort: 9090
---
apiVersion: v1
kind: Service
metadata:
  name: calculator-service
spec:
  selector:
    app: greeter
  ports:
  - protocol: TCP
    port: 9091
    targetPort: 9091
---
apiVersion: v1
kind: Service
metadata:
  name: envoy-service
spec:
  selector:
    app: greeter
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080
    nodePort: 30000
  type: NodePort
